.author {
    position: absolute;
    right: 10rem;
    bottom: 5rem;
    z-index: 2;

    @media (max-width: 1330px) {
        right: 0;

    }
    @media (max-width: 575px) {
        display: none;

    }

}